/* Resetten van de standaardmarges en -vullingen */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color1: #1c1d25;
    --background-color2: #ef744b;
    --background-white: #eee;
}

html {
    font-size: 62.5%;
}

/* Algemene stijling voor de hele pagina */
body {
    font-family: 'Montserrat', sans-serif;
}

/* Hero-sectie opmaak */
.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color1);
    height: 80vh;
    color: var(--background-white);
    font-size: 2rem;
    padding: 0 2rem;
}

/* Footer opmaak */
footer {
    height: 20vh;
    background-color: black;
}

/* Navigatie opmaak */
.navigation {
    display: flex;
    background: var(--background-color1);
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 1rem 2rem;
}

.navigation>ul>a {
    text-decoration: none;
    color: var(--background-white);
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 2rem;
    gap: 2rem;
}

li {
    text-decoration: none;
}

/* Koppen en alinea's */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

p {
    font-size: 30px;
    font-weight: 300;
}

/* Hero-container opmaak */
.hero-container {
    display: flex;
    flex-direction: column;
    background: none;
}

.button:hover {
    background-color: var(--background-color2);
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

/* Sociale pictogrammen */
.socials {
    margin-left: auto;
}

.social {
    margin: 1rem;
}

/* Logo opmaak */
.logo {
    height: 100%;
}

/* Subsecties */
.sub-section {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-white);
}

.sub-section-three {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Afbeelding van persoon */
.headshot-container {
    display: flex;
    align-items: center;
}

.headshot {
    width: 30rem;
    height: 30rem;
    border-radius: 15rem;
    object-fit: cover;
    object-position: top;
}

/* Projectkaart */
.project-card {
    width: 20rem;
    height: 60%;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.4);
}

/* Container voor projecten */
.project-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

/*Styling voor project page*/

.project-body {
    background-image: url('../src/images/stars-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--background-color1);

    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.project-body>nav {
    width: 100vw;
}

.vue-container {
    width: 90vw;
    background: var(--background-white);
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem;
}

.project-images {
    width: 30%;
}

.project-image {
    width: 100%;
}

.project-text {
    padding: 2rem;
}

.tab {}

.project-tab-button {
    font-size: 3rem;
    border: none;
    color: var(--background-white);
    width: 50%;
    background: var(--background-color1);
    height: 8rem;
}

.project-tab-button:hover {
    background: var(--background-color2);
}

@media (max-width: 600px) {

    .navigation {
        flex-direction: column;
        height: 100%;
    }

    ul {
        margin-top: 4rem;
        flex-direction: column;
    }

    ul>a>li {
        text-align: center;
    }

    .logo {
        height: 8rem;
    }

    .hero {
        flex-direction: column;
    }

    .hero-container {
        margin-top: 4rem;
        width: 100%;
        text-align: center;
    }

    .hero-container>h1 {
        font-size: 3rem;
    }

    .hero-container>h3 {
        font-size: 2rem;
    }

    .hero-container>p {
        font-size: 1.5rem;
    }

    .socials {
        margin: 0;
        display: flex;
    }

    .sub-section {
        flex-direction: column;
    }

    .headshot {
        width: 100%;
    }

    .project-container {
        flex-direction: column;
    }
}