/* Resetten van de standaardmarges en -vullingen */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color1: #1c1d25;
    --background-color2: #ef744b;

    --background-color-light: #eee;
    --font: 'Montserrat', sans-serif;
    --button-border: 5rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Algemene stijling voor de hele pagina */
body {
    font-family: var(--font);
    font-size: 1.6rem;
}

/* Hero-sectie opmaak */
.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    color: var(--background-color-light);
    font-size: 2rem;

    background-image: url('../src/images/stars-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
}

.hero::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--background-color1);
    opacity: 0.7;
    margin: 0;
}

.hero-position {
    width: 100%;
    max-width: 120rem;
    display: flex;
    justify-content: flex-start;
}

.hero-container {
    background: none;
    z-index: 10;
}


/* Footer opmaak */
footer {
    height: 20vh;
    width: 100%;
    background-color: var(--background-color1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color-light);
    text-align: center;
}

article {
    padding: 4rem 0;
}

/* Navigatie opmaak */
.navigation {
    display: flex;
    background: var(--background-color1);
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 1rem 2rem;
}

.navigation-position {
    height: 20vh;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 120rem;
    justify-content: flex-start;
}

.navigation>.navigation-position>ul>a {
    text-decoration: none;
    color: var(--background-color-light);
}

.navigation>.navigation-position>ul {
    margin-left: auto;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 2rem;
    gap: 2rem;
}

li {
    text-decoration: none;
}

/* Koppen en alinea's */
h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    margin-bottom: 2rem;
}

h3 {
    font-size: 125%;
}

p {
    font-weight: 300;
}

.button:hover {
    background-color: var(--background-color2);
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

/* Sociale pictogrammen */
.socials {
    margin-left: auto;
    z-index: 10;
}

.social {
    margin: 1rem;
}

/* Logo opmaak */
.logo {
    height: 100%;
    margin: 2rem 0;
}

.contact-link-button,
.check-werk {
    text-decoration: none;
    text-align: center;
    min-width: 30rem;
    height: 10rem;
    line-height: 10rem;
    z-index: 10;
    background: var(--background-color2);
    color: var(--background-color-light);
    font-size: 130%;
    font-weight: bold;
    border-radius: var(--button-border);
}

.check-werk {
    margin: 0 auto 2rem auto;
    max-width: 20rem;
}

/* Subsecties */
.sub-section {
    padding: 4rem 0;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color-light);
}

.about-section {
    max-width: 120rem;
    display: flex;
}

.sub-section-three {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Afbeelding van persoon */
.headshot-container {
    display: flex;
    align-items: center;
}

.headshot {
    width: 30rem;
    height: 30rem;
    border-radius: 15rem;
    object-fit: cover;
    object-position: top;
}

/* Projectkaart */
.project-card {
    width: 30rem;
    height: 60%;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 1rem;
}

.project-card::before {
    height: 100%;
    background: var(--background-color1);
    opacity: 0.7;
}

.project-card::after {
    font-size: 150%;
    font-weight: 700;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color2);
    border-radius: 1rem;
}

.project-card:hover {
    background: var(--background-color1);
    opacity: 0.7;

}

.project-card:first-of-type:after {
    background-image: url("/src/images/projects/xp-arena/project-xparena2.png");
    background-size: cover;
    background-position: center;
    content: 'XP Arena';
}

.project-card:nth-of-type(2):after {
    background-image: url("/src/images/projects/be-a-critic/be-a-critic-placeholder.jpg");
    background-size: cover;
    background-position: center;
    content: 'Be a critic';
}

.project-card:nth-of-type(3):after {
    background-image: url("/src/images/projects/os-portfolio/os-portfolio.png");
    background-size: cover;
    background-position: center;
    content: 'Os Portfolio';
}

.project-card:nth-of-type(4):after {
    background-image: url("/src/images/projects/vrije-tijd/vrije-tijd.jpg");
    background-size: cover;
    background-position: center;
    content: 'Vrije tijd';
}


/* Container voor projecten */
.project-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.contact-section {
    background-color: var(--background-color-light);
    display: flex;
    justify-content: center;
}

.contact-section>section {
    padding: 4rem 0;
    width: 100%;
    max-width: 120rem;
}

/*Styling voor project page*/

.project-body {
    background-image: url('../src/images/stars-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.project-body::before {
    content: 'Hallo';
    background: var(--background-color1);
    width: 100%;
    height: 120%;
    position: absolute;
    opacity: 0.6;
    z-index: -1;
}

.project-body>nav {
    width: 100vw;
}

.vue-container {
    width: 90vw;
    background: var(--background-color-light);
}

.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 4rem;
}

.project-images {
    width: 30%;
}

.project-image {
    width: 100%;
}

.project-text {
    padding: 6rem;
}

.project-tab-button {
    font-size: 3rem;
    border: none;
    color: var(--background-color-light);
    width: 25%;
    background: var(--background-color1);
    height: 8rem;
}

.project-tab-button:hover {
    background: var(--background-color2);
}

/* Over mij pagina styling */

.main-over-mij {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
}

.main-over-mij>* {
    max-width: 120rem;
}

.over-mij {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.over-mij>h1 {
    margin-bottom: 2rem;
}

.over-mij-section {
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}


.over-headshot {
    float: left;
    shape-outside: circle();
    width: 30rem;
    aspect-ratio: 1/1;
    border-radius: 15rem;
    object-fit: cover;
    object-position: top;
    margin-right: 2rem;
}

.model-desktop {
    height: 40rem;
}

@media (max-width: 600px) {

    .navigation {
        height: 100%;
        justify-content: center;
    }

    .navigation-position {
        flex-direction: column;
        height: 100%;
    }

    .navigation>.navigation-position>ul {
        margin: 4rem 0;
    }

    ul {
        margin-top: 4rem;
        flex-direction: column;
    }

    ul>a>li {
        text-align: center;
    }

    .logo {
        height: 8rem;
    }

    .hero {
        height: 100vh;
        flex-direction: column;
    }

    .hero>* {
        margin-top: 4rem;
    }

    .hero-container {
        text-align: center;
    }

    .socials {
        margin: 4rem auto;
        display: flex;
    }

    .hero-position {
        flex-direction: column;
    }

    .about-section {
        flex-direction: column;
        padding: 0 4rem;
    }

    .headshot {
        width: 100%;
        margin: 4rem 0;
    }

    .project-container {
        flex-direction: column;
    }

    .contact-section>section {
        padding: 4rem;
    }

    .main-over-mij {
        padding: 4rem;
    }

    .over-mij>h1 {
        text-align: center;
    }

    .over-headshot {
        float: none;
        margin: 0 0 2rem 0;
    }

    .model-desktop {
        height: 20rem;
        width: 20rem;
    }
}